.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  background-color: var(--bg-color);
  min-height: calc(100vh - 60px); /* Subtracting header height to prevent double scrollbar */
  width: 100%;
}
